* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}



body {
   
     text-align:center;
    font-size: 1rem;
    width: 100vw; 
    height: 100vh;
    background-image: url(../images/hitech.jpg);
    background-size: cover; 
    color: seashell;
}


h1 {
    text-transform: uppercase;
    margin: 5%;
    font-size: 3.5em;
    
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    margin: 1em 0;
    
}

a {
    color: black;

}
nav.up {
    position: fixed;
    right: 10%;
    bottom: 25%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0; 
    background-color: red;
    color: black;
    text-decoration: none;
    }

nav ul {
    list-style-type: none;
  
    }
    
    
nav ul li a {
    display: block;
    text-align: center;
    margin: 0 auto;   
    background-color: #00e1ff;
    color: black;
    box-shadow: 5px 5px 5px 5px blue;
    text-decoration: none;
    max-width: 30em;
    text-transform: uppercase;
    font-weight: bold
    }

nav ul li a:hover {
        box-shadow: 5px 5px 5px 5px rgb(16, 204, 32);
    }

ul.Beruf {
        text-align: center;
        font-size: 1.5em;
        list-style-type: none;
        margin: 0;
       
    }
  
.fett {
        font-weight: bold

    }

.sec1 {
        margin: auto;
        width: 80%;
        padding: 1.5em;
        font-family: 'Abril Fatface', cursive;

    }
    
.sec{
        margin: auto;
        width: 80%;
        padding: 1.5em;
        font-family: 'Abril Fatface', cursive;

    }
.sec2{
        margin: auto;
        width: 80%;
        padding: 1.5em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

div figure img {
        display: inline-block;
        border-radius: 50%;
        width: 15em;
        height: 15em;
        border: 0.5em solid blue;
    }


    
div.Port img {
width: 60%;
border: 0.7em solid blue;
border-radius: 25% 0%;

}

.gradient {
    background-color: #ff8a00;
    background-image: conic-gradient(lime 40%, yellow 0 70%, red 0 30%);
    border-radius: 50%;
    height: 15em;
    margin: auto;
    width: 15em;
    color: black;
  }
.Legende{
    display: inline-block;
    height: auto;
    width: auto;
    background-color: lime;
    color: black;
    padding: 1em;

}
.Legende1{
    display: inline-block;
    height: auto;
    width: auto;
    background-color: red;
    color: black;
    padding: 1em;

}
.Legende2{
    display: inline-block;
    height: auto;
    width: auto;
    background-color: yellow;
    color: black;
    padding: 1em;

}
.Legende4{
    display: inline-block;
    height: auto;
    width: auto;
    background-color: transparent;
    color: white;
    padding: 1em;

}

footer  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5em;
    bottom: 0;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.leiste {
    padding: 0.2rem;
    height: 2rem;
    background: #ecf0ea;
    border: grey 2px solid;
}

.leiste > span {
    display: block;
    height: 100%;
    background-color: #1444c7;
   
}


#span1 {
    width: 60%;
}

#span2 {
    width: 8%;
}
#span3 {
    width: 80%;
}

.KonBil a {
    font-size: 1.5em;
    color: snow;
    text-decoration: none;
}
.KonBil a i {
    font-size: 1.5rem;
    color: linear-gradient(50deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%)
       
}

.KonBil {
    margin: auto;
    display: inline-block;
}

.lici {
    list-style-type: none;
    text-align: left;
}

.Portimg {
    color: #fff;
    font-family: 'Dancing Script', cursive;    font-size: 1em;
    font-size: 3em;
}

.Portimg:hover {
    color: yellow;
    font-family: 'Dancing Script', cursive;    font-size: 1em;
    font-size: 3em;
}

.section {
    max-width: 80%;
    display: inline-block;
}
